*{
    padding: 0px;
    margin: 0px;
}

.parent{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}
.box{
    text-align: center;
    color: white;
    border: 3px solid rgb(255, 255, 255);
}
.box1{
    background-color: #581981;
}
.box2{
    background: rgb(96,0,255);
    background: linear-gradient(0deg, rgba(96,0,255,1) 0%, rgba(169,0,255,1) 50%, rgba(232,149,255,1) 100%); 
}
.box3{ 
    background-color: #581981;
}